<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Reset Password</h2>
      <!------->
      <mat-form-field class="full-width-input">
        <input id="current" matInput placeholder="Old Password" formControlName="current" type="password" required>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input id="newPW" matInput placeholder="New Password" formControlName="newPW" type="password" required>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input id="confirm" matInput placeholder="Confirm Password" formControlName="confirm" type="password" required>
      </mat-form-field>

      <div *ngIf="newPW.touched && newPW.errors!=null && newPW.errors.newIsNotOld">
        <p>New password can't be the same as current password.</p>
      </div>

      <div *ngIf="confirm.touched && confirm.errors!=null && confirm.errors.newMatchesConfirm">
        <p>The confirmation does not match.</p>
      </div>

      <p><button mat-raised-button color="primary" type="submit">Submit</button></p>
      <!------->



    </form>
  </mat-card-content>
</mat-card>
