.header .mat-accordion {
  z-index: 1;
}
.header .mat-accordion > .mat-expansion-panel-spacing:first-child {
  margin-top: 65px;
}

.header .mat-accordion .mat-raised-button.mat-primary:first-child {
  margin-right: 10px;
}
