@import "../../assets/styles/_variables.scss";
.header  {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header span {
  font-weight: bold;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: $mobile) {
  .details-card .inner {margin-bottom: 0;padding-bottom: 0;margin-top: 0;padding-top: 0;}
  }
