<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2 class="form-title">Forgotten Password</h2>
      <mat-error *ngIf="loginInvalid">
        The email was not recognised
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="username" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <p><button mat-raised-button [routerLink]="['/reset-password']" color="primary">Submit</button></p>
    </form>
  </mat-card-content>
</mat-card>
