.select-filter-container { position: relative; }
.select-filter-container .select-filter-trigger{ @extend .input-default; padding: 7.5px; position: relative; }

.select-filter-menu {     top: 100%; width: 100%; z-index: 1; position: absolute; max-width: 100%; padding: 0; margin: 0; text-align: left; list-style: none; background-color:$white; background-clip: padding-box; border: $global-border; border-radius: 4px;}
.select-filter-menu .select-filter-sub-menu{   margin: 0;  text-align: left;  list-style: none;  background-color:$white; background-clip: padding-box; max-height: 200px; overflow-y: scroll; }
.select-filter-menu .select-filter-item{  padding: $global-padding; margin: 0; }
.select-filter-menu .select-filter-item.active{ background-color: $active-color; color: #FFF }
.select-filter-menu .select-filter-item:hover{ background-color:$gray-300; cursor: pointer;   }
.select-filter-menu .select-filter-item:focus{ background-color:red; cursor: pointer;   }


.select-filter-option{ @extend .btn; @extend .small; }
.select-filter-container .select-filter-content li { margin-bottom: 0; }
.select-filter-container .select-filter-item-search{ border-bottom: $global-border; padding: $global-padding; position: relative; }

.select-filter-container .select-filter-icon{ margin-left: $global-margin; font-family: 'Font Awesome 5 Free'; font-weight: 900; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal;   font-feature-settings: normal; font-variant: normal; text-rendering: auto; line-height: 1; float: right;}
.select-filter-container .select-filter-icon::before{ content: "\f107"; }
.select-filter-container .select-filter-btn-input {  @extend .btn; }

.delete-icon-option { margin: 0 !important; padding: 2px !important; margin-left: $global-margin/2 !important; }
