/*bg colors*/
.bg-primary { background-color: $primary-color !important; }
.bg-active  { background-color: $active-color !important; } 
.bg-box  { background-color: $box-colour !important; }
.bg-error  { background-color: $error-color !important; }
.bg-success  { background-color: $success-color !important; }
.bg-white  { background-color: #FFF !important; }
.bg-warning  { background-color: $warning-color !important }
.bg-gray-100{background-color: $gray-100 !important }
.bg-gray-200{background-color: $gray-200 !important }
.bg-gray-300{background-color: $gray-300 !important }
.bg-gray-400{background-color: $gray-400 !important }
.bg-gray-500{background-color: $gray-500 !important }
.bg-gray-600{background-color: $gray-600 !important }
.bg-gray-700{background-color: $gray-700 !important }
.bg-gray-800{background-color: $gray-800 !important }
.bg-transparent{background-color:transparent !important}
/*font colors*/
.color-error {color: $error-color;}
.color-success {color: $success-color;}
.color-warning {color: $warning-color;}
.color-font { color: $font-color !important; }
.color-primary {color: $primary-color  !important;}
.color-active {color: $active-color !important;}
.color-white {color: #FFF !important; }
.color-error {color: $red !important; }
.color-gray-100 {color: $gray-100 !important; }
.color-gray-200 {color: $gray-200 !important; }
.color-gray-300 {color: $gray-300 !important; }
.color-gray-400 {color: $gray-400 !important; }
.color-gray-500 {color: $gray-500 !important; }
.color-gray-600 {color: $gray-600 !important; }
.color-gray-700 {color: $gray-700 !important; }
.color-gray-800 {color: $gray-800 !important; }
.color-box  { color: $box-colour !important; }


.font-bold{ font-weight: bold}
/*float*/
.fl { float: left !important; }
.fr { float: right !important; }
.clearfix { display: block; height: 1px; zoom: 1; width: 100%; clear: both; margin-bottom: -1px; }
/*text align*/
.tl { text-align: left !important; }
.tr { text-align: right !important; }
.tc { text-align: center !important; }
/*vertical align*/
.vertical-align { height: 500px; line-height: 500px; text-align: center; }
.vertical-align .va-wrapper { display: inline-block; *display: inline; *zoom: 1; line-height: normal; vertical-align: middle; }
/*margins*/
.m0 { margin: 0 !important; }
.mt0 { margin-top: 0 !important; }
.mr0 { margin-right: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.ml0 { margin-left: 0 !important; }

.m10 { margin: 10px !important; }
.mt10 { margin-top: 10px !important; }
.mr10 { margin-right: 10px !important; }
.mb10 { margin-bottom: 10px !important; }
.ml10 { margin-left: 10px !important; }

.m20 { margin: 20px !important; }
.mb20 { margin-bottom: 20px !important; }
.mt20 { margin-top: 20px !important; }
.ml20 { margin-left: 20px !important; }
.mr20 { margin-right: 20px !important; }

.m30 { margin: 30px !important; }
.mb30 { margin-bottom: 30px !important; }
.mt30 { margin-top: 30px !important; }
.ml30 { margin-left: 30px !important; }
.mr30 { margin-right: 30px !important; }

.m40 { margin: 40px !important; }
.mt40 { margin-top: 40px !important; }
.mb40 { margin-bottom: 40px !important; }
.ml40 { margin-left: 40px !important; }
.mr40 { margin-right: 40px !important; }

/*paddings*/
.p0 { padding: 0 !important; }
.pt0 { padding-top: 0 !important; }
.pr0 { padding-right: 0 !important; }
.pb0 { padding-bottom: 0 !important; }
.pl0 { padding-left: 0 !important; }

.p10 { padding: 10px !important; }
.pl10 { padding-left: 10px !important; }
.pr10 { padding-right: 10px !important; }
.pt10 { padding-top: 10px !important; }
.pb10 { padding-bottom: 10px !important; }

.p20 { padding: 20px !important; }
.pl20 { padding-left: 20px !important; }
.pr20 { padding-right: 20px !important; }
.pt20 { padding-top: 20px !important; }
.pb20 { padding-bottom: 20px !important; }

.p30 { padding: 30px !important; }
.pl30 { padding-left: 30px !important; }
.pr30 { padding-right: 30px !important; }
.pt30 { padding-top: 30px !important; }
.pb30 { padding-bottom: 30px !important; }

.p40 { padding: 40px !important; }
.pl40 { padding-left: 40px !important; }
.pr40 { padding-right: 40px !important; }
.pt40 { padding-top: 40px !important; }
.pb40 { padding-bottom: 40px !important; }

 
/*list*/
.list-inline {  margin: 0;   padding-left: 0;    list-style: none;}
.list-inline li { display: inline-block; margin: 0; }
.no-list { list-style: none; margin-left: 0; }
/*narrow content*/
.narrow-content { max-width: $tablet; margin: 0 auto; }

/*visibility*/
.hidden { display: none; }
.visible { display: block; }
/*effects*/

.shadow{box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;}
.shadow-strong{box-shadow: 0 .5rem 1rem rgba(0,0,0,.5)!important;}

.radius {   border-radius: 10px 10px 10px 10px;  }
/*text*/
.ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; display: inline-block; max-width: 100%; }
.uppercase { text-transform: uppercase; }
/*position*/
.relative { position: relative !important; }
.absolute { position: absolute !important; }
/*width*/
.auto-width { width: auto !important; }
.full-width { width: 100%; max-width: none; }
/*overflow*/
.overflow-hidden { overflow: hidden; }
/*Hover control color*/
.no-focus-color:focus{background: $primary-color !important; }
.no-focus-color.active-filter{background: $active-color !important;}
 
/*display*/
.display-inlineblock{ display: inline-block; }
.display-block{ display: block; }

/*cursor*/
.cursor-pointer{
    cursor: pointer;
}

@media (min-width: $desktop) {
    .desktop-flex { display: flex !important; }
}
@media (min-width: $tablet) {
    .laptop-hidden { display: none !important; }
}
@media (max-width: $tablet) {
    .tablet-hidden { display: none !important; }
    .tablet-displayed { display: block !important; }
}
@media (max-width: $mobile) {
    .mobile-hidden { display: none !important; }
    .mobile-displayed { display: block !important; }
}


.list-group{
    list-style-type: none;
    margin: 0;
    &>li{
        border-bottom: 1px solid $gray-300;
        width:100%;
        padding: 0.5em;
        margin:0px;
    }
    &>li:hover{
        background-color: $gray-400 !important;
        color:white;

    }
    &>li:nth-child(odd){
        background-color: $gray-300
    }
}


.icon-round{
    font-size: 20px;
    padding: 8px;
    border-radius: 50%
}

.icon-round-xs{
    font-size: 16px;
    padding: 6px;
    border-radius: 50%
}

.icon-round-lg{
    font-size: 20px;
    padding: 10px;
    border-radius: 50%
}

.full-link{
    display: inline-block;
    width: 100%;
    height: 100%;
}