.splitter-container{
    height: 100%;
    width:100%;
    position: relative;
    background-color: white;
}


.splitter-container.horizontal>.splitter-item{
    border-top:1px solid $gray-800;
    border-bottom:1px solid $gray-800;
    border-right: none;
    position: absolute;
    top: 0;
    bottom: 0;
}

.splitter-container.horizontal>.splitter-item:last-child{
    border-right:1px solid $gray-800;
}

.splitter-container.horizontal>.splitter-item:first-child{
    border-left:1px solid $gray-800;
}

.splitter-container.vertical>.splitter-item{
    border-left:1px solid $gray-800;
    border-right:1px solid $gray-800;
    position: absolute;
    left: 0;
    right: 0;
}

.splitter-container.vertical>.splitter-item:first-child{
    border-top:1px solid $gray-800;
}
.splitter-container.vertical>.splitter-item:last-child{
    border-bottom:1px solid $gray-800;
}

.splitter-container.horizontal{
    flex-direction: row;
}

.splitter-container.horizontal>.splitter-item:not(:last-child)> .splitter-resize-area{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 3px dashed $active-color;
    cursor: w-resize;
}

.splitter-container.vertical>.splitter-item:not(:last-child)> .splitter-resize-area{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 3px dashed $active-color;
    cursor: n-resize;
}

.splitter-item{
    overflow: hidden;
}

.splitter-item-content{
    overflow: auto;
    height: 100%;
}

.splitter-container.vertical > .splitter-item:not(:last-child) >.splitter-item-content{
    padding-bottom: 0.2em;

}
.splitter-container.horizontal > .splitter-item:not(:last-child) >.splitter-item-content{
    padding-right: 0.2em;

}