/*tree list and sublist*/
.tree-list-container .tree-list {
    list-style: none;
    margin: 0;
    position: relative;
}

.tree-list-container .tree-list .tree-list:after  { position: absolute;
    display: block;
    content: " ";
    border-left: $dashed-border;
    height: 13px;
    width: 1px;
    top: -5px;
    left: -14px;
    border-bottom: $dashed-border; } 
    
.tree-list-container .tree-list .tree-list:before  { position: absolute;
    display: block;
    content: " ";
    border-left: $dashed-border;
    height: 1px;
    width: 15px;
    top: 7px;
    left: -14px;
    border-bottom: $dashed-border; } 

/*icon*/
.tree-list-icon {  
    content: "-";  
    color: $gray-500;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: block;
    border: $global-border;
    height: 13px;
    width: 13px;
    line-height: 11px;
    border-radius: 0; transform: none; text-align: center;
}

.tree-list-icon:hover{ color: $gray-400; }

.tree-icon {  font-family:'Font Awesome 5 Free';font-weight:900;-webkit-font-smoothing:antialiased;font-style:normal;font-feature-settings:normal;font-variant:normal;text-rendering:auto;line-height:1;  padding: 0; background: none; border: none; position: absolute; top: 50%; right: 0; margin: 0 $global-margin; transform: translateY(-50%) }
.tree-icon:after { content: "\f107";      display: block; }
/*tree list ITEM*/
.tree-list-container .tree-list-item { position: relative; padding-left: 20px; position: relative; }
.tree-list-container .tree-list-item:after {  @extend .tree-list-icon;}
.tree-list-container .tree-list-item:not(:last-of-type):before {    content: " ";
    position: absolute;
    left: 6px;
    top: 12px;
    width: 1px;
    height: calc(100% - 6px);
    border-left: $dashed-border; }


/*item with sublist*/
.tree-list-container .tree-list-item.has-children:after { display: none; }
.tree-list-container .tree-list-item.has-children>.tree-icon { @extend .tree-list-icon; }
.tree-list-container .tree-list-item.has-children>.tree-icon:after { content: "+";  color: $gray-500; font-weight: bold; }
.tree-list-container .tree-list-item.has-children.show>.tree-icon:after { content: "-";  }
/*sublist hide/show*/
.tree-list-container .tree-list-item.hide>.tree-list{ display: none; }
.tree-list-container .tree-list-item.show>.tree-list { display: block; padding-top: 4px;}
 