/********** START FONT **********/

@font-face {
  font-family: "AkkoRoundedPro";
  src: url("assets/fonts/34CDA1_0_0.eot");
  src: url("assets/fonts/34CDA1_0_0.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/34CDA1_0_0.woff2") format("woff2"),
    url("assets/fonts/34CDA1_0_0.woff") format("woff"),
    url("assets/fonts/34CDA1_0_0.ttf") format("truetype");
  font-weight: normal;
}

body {
  @extend .global-font;
}
h1,
.h1 {
  font-size: 64px;
  line-height: 70px;
  @extend .headers;
}
h2,
.h2 {
  font-size: 44px;
  line-height: 48px;
  @extend .headers;
}
h3,
.h3 {
  font-size: 36px;
  line-height: 40px;
  @extend .headers;
}
h4,
.h4 {
  font-size: 32px;
  line-height: 36px;
  @extend .headers;
}
h5,
.h5 {
  font-size: 24px;
  line-height: 28px;
  @extend .headers;
}
h6,
.h6 {
  font-size: 20px;
  line-height: 24px;
  @extend .headers;
}
p,
.p {
  @extend .global-font;
  margin: 0 0 $global-margin * 2 0;
}
small,
.small {
  font-size: $small-font-size;
  line-height: $global-line-height;
}
.title {
  border-bottom: $global-border;
  padding-bottom: $global-padding;
}
a {
  color: $primary-color;
  text-decoration: none;
  @extend .smooth-transition-color;
}

/********** END FONT **********/
