<div class="box-container">
  <div class="inner">
    <h1>Willkommen</h1>
    <p>
      Bacon ipsum dolor amet pastrami chicken corned beef pork flank. Pork
      shankle beef ball tip. Shankle tongue ham, jowl alcatra cupim venison
      chuck shank tri-tip buffalo pancetta kielbasa kevin ham hock. Shank chuck
      jerky tri-tip strip steak doner alcatra. Drumstick shankle bacon boudin.
      Pancetta chislic cupim, chicken capicola chuck prosciutto pig shankle
      jerky rump venison filet mignon bacon. Landjaeger capicola jerky pancetta,
      swine pork kielbasa ground round chicken tenderloin frankfurter rump
      sausage.
    </p>
    <p>
      <button mat-raised-button color="primary">
        Tutorial starten <mat-icon>play_arrow</mat-icon></button
      >&nbsp;
      <button mat-button color="accent">nicht mehr anzeigen</button>&nbsp;
    </p>
  </div>

  <div class="box-4">
    <div class="inner">
      <h4>Prüfungsvorlagen</h4>
      <mat-accordion>
        <mat-expansion-panel class="mb10">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Püfung auf Quellenseuer
            </mat-panel-title>
            <mat-panel-description>
              Gültig bis 01.02.2022
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Pork shankle beef ball tip. Shankle tongue ham</p>
          <button mat-raised-button color="accent">Prüfen</button>&nbsp;
        </mat-expansion-panel>

        <mat-expansion-panel class="mb10">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Püfung auf Quellenseuer
            </mat-panel-title>
            <mat-panel-description>
              Gültig bis 01.02.2022
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Pork shankle beef ball tip. Shankle tongue ham</p>
          <button mat-raised-button color="accent">Prüfen</button>&nbsp;
        </mat-expansion-panel>
        <mat-expansion-panel class="mb10">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Püfung auf Quellenseuer
            </mat-panel-title>
            <mat-panel-description>
              Gültig bis 01.02.2022
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Pork shankle beef ball tip. Shankle tongue ham</p>
          <button mat-raised-button color="accent">Prüfen</button>&nbsp;
        </mat-expansion-panel>
        <mat-expansion-panel class="mb10">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Püfung auf Quellenseuer
            </mat-panel-title>
            <mat-panel-description>
              Gültig bis 01.02.2022
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Pork shankle beef ball tip. Shankle tongue ham</p>
          <button mat-raised-button color="accent">Prüfen</button>&nbsp;
        </mat-expansion-panel>
        <mat-expansion-panel class="mb10">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Püfung auf Quellenseuer
            </mat-panel-title>
            <mat-panel-description>
              Gültig bis 01.02.2022
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Pork shankle beef ball tip. Shankle tongue ham</p>
          <button mat-raised-button color="accent">Prüfen</button>&nbsp;
        </mat-expansion-panel>
        <mat-expansion-panel class="mb10">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Püfung auf Quellenseuer
            </mat-panel-title>
            <mat-panel-description>
              Gültig bis 01.02.2022
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Pork shankle beef ball tip. Shankle tongue ham</p>
          <button mat-raised-button color="accent">Prüfen</button>&nbsp;
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="box-4">
    <div class="inner">
      <h4>Offene Prüfungen</h4>
      <mat-accordion>
        <mat-expansion-panel class="mb10">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Püfung auf Quellenseuer
            </mat-panel-title>
            <mat-panel-description>
              Gültig bis 01.02.2022
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Pork shankle beef ball tip. Shankle tongue ham</p>
          <button mat-raised-button color="accent">Prüfen</button>&nbsp;
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="box-4">
    <div class="inner">
      <h4>Abgeschlossene Prüfungen</h4>
      <mat-accordion>
        <mat-expansion-panel class="mb10">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Püfung auf Quellenseuer
            </mat-panel-title>
            <mat-panel-description>
              Gültig bis 01.02.2022
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Pork shankle beef ball tip. Shankle tongue ham</p>
          <button mat-raised-button color="accent">Prüfen</button>&nbsp;
        </mat-expansion-panel>

        <mat-expansion-panel class="mb10">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Püfung auf Quellenseuer
            </mat-panel-title>
            <mat-panel-description>
              Gültig bis 01.02.2022
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Pork shankle beef ball tip. Shankle tongue ham</p>
          <button mat-raised-button color="accent">Prüfen</button>&nbsp;
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
