<div class="decisions">
  <div class="inner">
    <h2>Report Details</h2>
  </div>

  <div class="details-container">
    <div class="inner">
      <mat-card class="details-card">
        <div class="box-4">
          <div class="inner">
            <p><span class="detail-name">Name:</span>&nbsp;&nbsp;TT-Aufsichtsratvergütung</p>
            <p><span class="detail-name">Date:</span>&nbsp;&nbsp;2020-03-23T11:44:36</p>
          </div>
        </div>
        <div class="box-4">
          <div class="inner">
            <p><span class="detail-name">User:</span>&nbsp;&nbsp;User, Dummy</p>
            <p><span class="detail-name">Ref. No.:</span>&nbsp;&nbsp; </p>
          </div>
        </div>
        <div class="box-12">
          <div class="inner">
            <button mat-raised-button color="primary" [routerLink]="['/report-edit']">Edit</button>&nbsp;
            <button mat-button mat-raised-button [routerLink]="['/reports']">Back</button>&nbsp;
          </div>
        </div>
        <div class="clearfix"></div>
      </mat-card>
    </div>
  </div>
</div>
